.Card{
    display: flex;
    flex-direction: column;
    background-color: blueviolet;
    border: 1px solid grey;
    /* border: 2px solid rgb(200, 200, 200); */
    padding: 10px;
    border-radius: 25px;
    box-shadow: 2px 5px #bebebe;
    cursor: pointer;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
}
  

.Card:hover {
transform: scale(1.05);
}